/*Project D. 2017-2018*/
/*See license for rights and conditions*/

/*------Styling for cselekves.html------*/

.acting-main {
	margin: 10rem 0 5rem 0;
}
h2 {
	text-align: center;
	font-size: 2.5rem;
}