/*Project D. 2017-2018*/
/*See license for rights and conditions*/

/*----Styling for tamogatas.html----*/

/*Fonts:*/
/*font-family: 'Cabin Sketch', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Roboto Condensed', sans-serif;*/

.donate-grid-container {
	width: 100%;
	height: 90%;
	display: grid;
	grid-template-columns: 48% 48%;
	grid-template-rows: 100%;
	align-content: center;
	justify-content: center;
	margin-bottom: 2rem;
}
.comingsoon-logo-container {
	background: url(../logo/plogo_bw_comingsoon.png) no-repeat center;
	background-size: contain;
}
.donate-title {
	text-align: center;
	font-size: 5rem;
	color: #272727;
	background-color: transparent;
	margin-top: 2rem;
}
.donate-description{
	text-align: right;
	font-size: 3rem;
	color: #272727;
	background-color: transparent;
	position: relative;
	top: 5rem;
}
.donate-link-container {
	font-family: 'Comfortaa', cursive;
	font-size: 1.5rem;
	text-align: right;
	margin-top: 7rem;
}
.language-links .language-link {
	position: relative;
	top: 1rem;
	font-size: 1rem;
	font-weight: bold;
	color: black;
}
.language-links .language-link:hover {
	text-decoration: none;
	color: #4b6677;
}
.icon {
	position: relative;
	top: 0.3rem;
}
.tab-image-container {
	width: 100%;
	height: 8rem;
	background: url(../pics/shapes_bckg.png) no-repeat right;
	background-size: contain;
}
 /* Style the tab */
 .tab {
	margin: 0;
	height: 10rem;
	background-color: white;
    overflow: hidden;
	display: grid;
	grid-template-columns:20% 25% 25% 25%;
	grid-template-rows: auto;
	grid-gap: 3rem;
	align-content: center;
	justify-content:flex-end;
	position: sticky;
	top: 0rem;
	z-index: 5;
}
/* Style the buttons that are used to open the tab content */
.tab button {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.1rem;
  background-color: inherit;
	width: 80%;
	height: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}
.tab button:hover {
	text-decoration: underline;
}
/* Create an active/current tablink class */
#about-button.active {
	background: url(../pics/link1_bw.png) no-repeat center;
	background-size: contain;
}
#goals-button.active {
	background: url(../pics/link2_bw.png) no-repeat center;
	background-size: contain;
}
#contribute-button.active {
	background: url(../pics/link3_bw.png) no-repeat center;
	background-size: contain;
}
/* Style the tab content */
.tabcontent {
   font-family: 'Roboto Condensed', sans-serif;
   width: 60%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   line-height: 1.8rem;
}
.tabcontent center {
	font-weight: bold;
	font-size: 1.5rem;
}
.tabcontent p, .tabcontent li {
	font-size: 1.2rem;
}
.tabcontent ul {
	list-style-type: square;
}
#fundr {
	width: 100%;
	height: 36rem;
	display: grid;
	margin-top: 3rem;
	grid-template-columns: 50% 50%;
	grid-template-rows: 12rem 12rem 12rem;
	justify-content: space-evenly;
	align-content: center;
	background: url(../pics//fund_pos_bckg.png) no-repeat bottom;
	background-size: cover;
}
.fundr-grid-item {
	width: 100%;
	height: 100%;
	background-color: transparent;
	text-align: center;
}
#fundr p {
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
	font-style: italic;
}
#paypal-account {
	font-size: 2rem;
	font-family: 'Roboto Condensed', sans-serif;
}
#paypal-account a {
	color: black;
	background-color: transparent;
}
#social-media{
	grid-column: 1/3;
}
#bottom-text {
	grid-column: 1/3;
	font-family: 'Roboto Condensed', sans-serif;
}
#paypal-logo {
	width: 2.5rem;
	height: 2.5rem;
	position: relative;
	top: 0.5rem;
}
#donate-footer{
	width: 100%;
	height: 6rem;
	font-family: 'Comfortaa', cursive;
	font-size: 1.1rem;
	background-color: transparent;
}
#donate-footer div{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
#dataprotection {
	width: 45%;
	position: relative;
	top: 50%;
	float: left;
	text-align: center;
}
#license {
	width: 55%;
	position: relative;
	top: 50%;
	float: right;
	text-align: center;
}

@media screen and (max-width: 1050px)
{
	.donate-grid-container {
		display: block;
	}
	.comingsoon-logo-container {
		width: 100%;
		height: 20rem;
	}
	.donate-description {
		top: 1rem;
	}
	.donate-link-container {
		margin-top: 4rem;
	}
	.tab {
		grid-gap: 0;
	}
	.tabcontent {
		width: 90%;
	}
}
@media screen and (max-width: 800px)
{
	.tab-image-container {
		display: none;
	}
	.tab {
		grid-template-columns: 33% 33% 33%;
		height: 8rem;
	}
	#about-button.active, #goals-button.active, #contribute-button.active {
		background-size: cover;
		overflow: hidden;
		font-weight: bold;
	}
}
@media screen and (max-width: 500px)
{
	.donate-title {
		font-size: 3rem;
	}
}
@media screen and (max-width: 400px)
{
	#fundr {
		grid-template-columns: 100% 0;
		grid-template-rows: repeat(4, 9rem);
		height: 40rem;
	}
	#paypal-account, #bank-account {
		grid-column: 1/3;
	}
	.tab, .tab button {
		height: 6rem;
	}
}