/*Project D. 2017-2018*/
/*See license for rights and conditions*/


/*-------------------Styling for join us page--------------------------*/

/*error box*/
#error-box {
	width: 100%;
	height: 2rem;
	padding: 1rem 0;
	font-size: 1.2rem;
	text-align: center;
	color: white;
	background-color: #d9272a;
	display: none;
}
.close {
	position: relative;
	float: right;
	margin: 0.5rem 4rem 0 0;
	font-size: 1.5rem;
	font-weight: bold;
	color: white;
	bottom: 0.5rem;
	cursor: pointer;
	clear: both;
}
#verification-box {
	width: 100%;
	height: 3rem;
	padding: 1rem 0;
	font-size: 1.2rem;
	text-align: center;
	color: white;
	background-color: #318a31;
	display: none;
}

/*---------Application form-------------*/
.joinus-container{
	background-color: #eee;
	padding: 2rem 0;
}
.login-container {
	background-color: #eee;
	padding: 2rem 0;
}
.joinus-form-container{
	width: 40%;
  margin: 2rem auto;
	padding: 1rem;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.2rem;
	background-color: white;
	opacity: 0.8;
	border: 0.125rem solid #fff;
	border-radius: 4px;
}
.joinus-form-title{
	margin: 1rem 0;
	font-size: 3rem;
	text-align: center;
}
.joinus-form label {
	padding-left: 0.3rem;
}
.joinus-form p{
	margin-top: 0.5rem;
}
.joinus-form span{
	margin-bottom: 0.5rem;
}
.joinus-form-controls {
	width: 14rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
input[type=text], input[type=email], input[type=password]{
	width: 94%;
	height: 2rem;
	margin: 0.5rem auto;
	padding: 0.2rem 1rem;
	background-color: #eee;
	border: 0.125rem solid transparent;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.2rem;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
	border: 0.125rem solid #727272;
	background-color: #ddd;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
	background-color: #ddd;
}

input[type=submit], input[type=reset], #cancelbtn{
	width: 5rem;
	height: 2rem;
	margin: 0.7rem;
	padding: 0.2rem;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 1.2rem;
	border:none;
	color: #000;
	background-color: #eee;
	font-weight: bold;
	text-decoration: none;
	transition: all .2s;
}
input[type=submit]:hover, input[type=reset]:hover, #cancelbtn:hover{
	color: #fff;
	background-color: rgba(70, 167, 170, 0.9);
}
#cancelbtn {
	padding: 0.3rem 0.9rem;
}
input[type=checkbox]{
	display: inline;
}
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0.0625rem dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 20rem;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 0.3125rem 0rem;
    border-radius: 0.1875rem;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -0.3125rem;
    border-width: 0.3125rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
} 
@media screen and (max-width: 1000px)
{
	.joinus-form-container{
    width: 70%;
		font-size: 1.3rem;
	}
}
@media screen and (max-width: 600px)
{
	input[type=text], input[type=email]
	{
		width: 90%;
	}
}
@media screen and (max-width: 500px)
{
	#fuggetlen_media, #propaganda_media {
		display: none;
	}
	.joinus-form-title {
		font-size: 2rem;
	}
}