/*Project D. 2017-2018*/
/*See license for rights and conditions*/

/*--------Styling for dokumentumtar/library----------*/
.library-main {
	margin: 10rem 0 5rem 0;
}
h2 {
	text-align: center;
	font-size: 2.5rem;
}
/*Spacial navbar*/
#topnav {
	background-color: white;
	box-shadow: 0 3px 5px 3px rgba(0,0,0,0.05);
}
#topnav a {
	background-color: transparent;
	color: black;
}
#topnav a:hover {
	text-decoration: underline;
}

/*Library*/
.library-list {
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 5rem;
}
.library-list-section {
	margin: 1rem 0;
}
.library-section-title {
	font-size: 2rem;
	font-weight: normal;
	margin-bottom: 1rem;
}
.library-hr {
	height: 1px;
	background-color: #000;
	border: none;
	margin: 0.5rem;
}
.library-link {
	font-size: 1.2rem;
	margin-left: 3rem;
}
.library-comment {
	font-size: 1.1rem;
	font-style: italic;
	margin-left: 5rem;
}

/*Special footer*/
#library-footer-grid {
	width: 100%;
	height: 10rem;
	margin-top: 2rem;
	background: none;
	background-color: white;
}
#library-footer-grid hr {
	height: 3px;
	background-color: black;
	border: none;
}

/*mobile optimization*/
@media screen and (max-width: 1000px)
{
	.library-list
	{
		width: 90%;
	}
}
@media screen and (max-width: 600px)
{
	.library-comment
	{
		margin-left: 1rem;
	}
	.library-link
	{
		height: auto;
	}
}