/*Project D. 2017-2018*/
/*See license for rights and conditions*/


/*--Search bar styling--*/

input[type=search] {
  width: 84%;
  min-width: 6rem;
  height: 3rem;
  padding: 0.25rem 1.25rem;
  margin: 0rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.125rem;
  color: #6C6C6C;
  border: none;
  border-bottom: 3px solid #fff;
  border-radius: 2px;
}

input[type=search]:hover {
  border-bottom: 3px solid #727272;
}

input[type=search]:focus {
  border-bottom: 3px solid black;
  color: black;
}