/*Project D. 2017*/
/*See license for rights and conditions*/

/*----styling for pages of news sources----*/

/*Special font set:
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Slabo 27px', serif;
*/
.slabo {
	font-family: 'Slabo 27px', serif;
}
/*Title Section*/
#chevron-left, #chevron-right {
	position: relative;
	float: right;
}
#chr-left {
	transform: translateX(0);
	transition: transform .3s;
}
#chr-right {
	transform: translateX(0);
	transition: transform .3s;
}
#chevron-left:hover #chr-left {
	transform: translateX(-3px);
}
#chevron-right:hover #chr-right {
	transform: translateX(3px);
}
/*Descriptions Section*/
.description-container {
	width: 90%;
	margin: 5rem auto 2rem auto;
	font-size: 1.2rem;
}
.description-container p {
	margin: 1rem 0;
}
.description-container p::first-letter{
	padding-left: 0.5rem;
	font-size: 1.4rem;
}
.description-container h3 {
	margin: 1rem 0;
}
.description-container ul {
	list-style-type: none;
	margin-left: 2rem;
}
/*Sources*/
.source-container {
	width: 90%;
	margin: 1.5rem auto 1.5rem auto;
	font-size: 1rem;
}
.source-title {
	font-size: 1.5rem;
	margin: 1rem 0;
}
.source-list {
	list-style-type: square;
	padding-left: 1.5rem;
	line-height: 1.3rem;
}
.horizontal {
	height: 3px;
	border: none;
	background-color: #6fade7;
}