/*Project D. 2017*/
/*See license for rights and conditions*/

/*----styling for pages of news sources----*/

/*Special font set:
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Slabo 27px', serif;
*/
.slabo {
	font-family: 'Slabo 27px', serif;
}
/*Title Section*/
#chevron-left, #chevron-right {
	position: relative;
	float: right;
}
#chr-left {
	transform: translateX(0);
	transition: transform .3s;
}
#chr-right {
	transform: translateX(0);
	transition: transform .3s;
}
#chevron-left:hover #chr-left {
	transform: translateX(-3px);
}
#chevron-right:hover #chr-right {
	transform: translateX(3px);
}

.horizontal {
	height: 3px;
	border: none;
	background-color: #6fade7;
}